<!DOCTYPE html>
<html>
<head>
    <title>Token de recuperación caducado</title>
</head>
<body>
    <h1>Token de recuperación caducado</h1>
    <p>El token de recuperación de contraseña ha caducado. Por favor, genera un nuevo correo de recuperación.</p>
    <a href="/api/recovery/recoveryRegenerate">Generar nuevo correo de recuperación</a>
</body>
</html>
